/*reset*/
* {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    min-height: 100vh;
    background-image: url('../img/fondopantalla.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

i {
    color: rgb(42, 15, 165);
    text-shadow:
    1px 1px 2px white,
   -1px -1px 2px white,
    1px -1px 2px white,
   -1px 1px 2px white;
}

i:hover {
    color: rgb(120, 113, 209);
}

/* Estilo inicio sesion*/
.inicio-sesion {
    background-image: url('../img/fondoneon.jpg');
}

.contenedor-inicio h2 {

    color: white;
    font-size: 50px;
}

.contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.contenedor-inicio input {
    width: 250px;
    padding: 15px;
    margin: 10px;
}

.campo-inicio label {
    color: aliceblue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.campo-inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.contenedor-inicio a {
    color: yellow;
}

.contenedor-inicio a:hover {
    color: orange;
}

.contenedor-inicio p {
    color: aliceblue;
}

.contenedor-sesion {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logoenbt-perfil {
    height: 250px;
}

.contenedor-sesion h1 {
    flex: 1;
    font-size: 70px;
    text-align: center;
    color: aliceblue;
    font-family: 'Sigmar', Arial, Helvetica, sans-serif;
}

.header-perfil {
    background-color: #1B1A21;
}

/* Estilo index*/
h1 {
    color: white;
    font-size: 100px;
}

#lupa {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* estilo gral del logo*/


.busqueda {
    width: 50%;
    height: 30px;
}

.contenedorBusqueda {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 80px;
}

.contenedorPerfil {
    display: flex;
    margin-top: 10px;
}

.contenedorPerfil ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.contenedorPerfil li {
    display: inline;
}

.contenedorPerfil i {
    font-size: 25px;
    padding: 20px;
}

#fondo1 {
    background-size: cover;
    width: 1900px;
    height: 500px;
}

ul {
    padding: 0 !important;
    list-style: none;
}

a {
    text-decoration: none;
}

.imagenesFila {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imagenesFila li {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.imagenesFila img {
    width: 250px;
    height: 250px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

/* estilo gral del boton*/
.boton {
    display: inline-block;
    background-color: #786DF6;
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.boton:hover {
    background-color: #270349d8;
    /* Oscurece el color al pasar el mouse */
}

.contenedorFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 50px 10px 5px 10px;

}

.contenedorFooter div {
    text-align: center;
}

.contenedorFooter li {
    padding-bottom: 5px;
}

.contenedorFooter h3 {
    font-size: 25px;
    color: white;
}

.contenedorFooter a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.contenedorFooter a:hover {
    color: aqua;
}

#contenedorRedes {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#contenedorRedes ul {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

#contenedorRedes a:hover {
    color: rgb(243, 247, 26);
}

#contenedorRedes i {
    font-size: 20px;
    /* tamaño del icono*/
}

/* estilos juegos.html*/
.titulo-juegos{
    font-size: 70px;
    text-align: center;
    color: #ccd4e0;
    font-weight: bold;
    box-shadow: 0 0 65px 60px #7332db;
    background-color: #7332db;
    text-shadow: 
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}
.barra-consolas, .barra-juegos{
    margin: 10px 30px;
}

.barra-consolas img {
    width: 180px;
    height: auto;
    padding: 10px;
    border-radius: 3em;
}

.subtitulo {
    color: white;
font-size: 30px;
margin-bottom: 40px;
}

.imagenes-fila {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center
}

.barra-juegos img {
    width: 200px;
    height: auto;
    padding: 10px;
}

.columna-juego {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes-fila img {
    transition: transform 0.3s ease;
}

.imagenes-fila img:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 0 20px 5px rgba(0, 150, 255, 0.6);
}

.lista-generos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.lista-generos a {
    text-decoration: none;
}

.lista-generos h3:hover {
    color: rgb(120, 113, 209);
}

.lista-generos h3 {
    color: rgb(200, 211, 245);
   
    text-shadow:1px 5px #000000;
}

/* estilo carrito.html*/
.imagen-producto{
    width: 150px;
    height: auto;
}
.titulo-compra h2{
    background-color: #000;
    color: aliceblue;
    padding: 10px;
}

.contenedor-compra{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    background-color: #c8c1d4;
    padding: 10px;
}


.contenedor-detalle{
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    gap: 20px;
    padding: 15px;
}
.contenedor-detalle div,.reemplazo,.join-pro,.cont-col2,.col2-fil3{
background-color: rgb(247, 247, 247);
}
.detalle-producto{
    display: flex;
}
.detalle-precio{
    text-align: center;
}
.main-item-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.detalle-producto{
    flex-direction: column;
    margin-bottom: 10px;
}
.retiro form label{
    display:block;
    margin-bottom: 30px;
    
}
.cantidad label,.retiro form label{
    font-weight: bold;
}
.cantidad{
    margin: 20px;
}
.cantidad a{
   display: flow-root;
    color: #000000;
}
.fila-cantidad{
    display: flex;
    text-align: center;
    gap: 10px;
    margin-top: 5px;
}

.columna-detalle form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reemplazo{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid #535253
}
.reemplazo form{
    display: flex;
}
.plan{
    text-align: center;
    margin: 1px 10px;
}
.col2-fil2,.precio-plan, .reemplazo div span, .negrita{
    font-weight: bold;
}
.detalle-a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.cont-col1 h3{
    font-size: 18px;
    padding: 5px 20px;
}
.logo-pro img{
    width: 150px;
    height: 150px;
}
.join-pro{
    display: flex;
    padding: 5px 20px;
}
.cont-pro{
    padding: 5px 20px;
}
.cont-pro div{
    margin-bottom: 25px;
}

.join-pro .boton{
    background-color: #f3f4f5;
    color: #000;
    font-weight: bold;
}
.contenedor-boton-pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #5b595c;
}
.contenedor-boton-pro div{
    display: flex;
    flex-direction: column;
}
.contenedor-boton-pro .boton:hover{
    background-color: #786DF6;
    color: #ccc;
}
.cont-col2{
    padding: 15px;
}
.cont-col2 h2{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.cont-col2 p{
   color: #000;
}
.col2-fil3 p{
    display: none;
}
#caja {
    background-color: red;
}

#paypal {
    background-color: yellow;
}

#gpay {
    background-color: lightslategray;
    
}
#caja,#paypal,#gpay{
    width: 100%;
    height: 30px;
}
.col2-fil1{
    border-bottom: 3px solid #524791;
}
/*
.subtitulo-resumen {
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.resumen img {
    width: 150px;
}

.columna-detalle p,
label {
    color: aliceblue;
}

.columna-detalle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columna-subtotal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.resumen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.imagen-detalle {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.columna-juego img {
    width: 150px;
    height: auto;
    display: block;
}


*/
/* estilo intercambio*/
.navbar {
    background-color: #18151A !important;
    /* Cambia el color de fondo */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
    /* Cambia el color del texto */
}

.navbar .nav-link:hover {
    color: #786DF6 !important;
}

.navbar-toggler {
    border-color: white !important;
    /* Cambia el borde del botón */
}

.navbar-toggler-icon {
    filter: invert(1);
    /* Invierte el color (de negro a blanco) */
}

.logoenbt {
    width: 100%;
}

.navbar-brand {
    width: 30%;
}

.iconos-perfil {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.header-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1B1A21;

}

.div-header {
    width: 200px;
    height: 200px;
}

.logo-link {
    width: 200px;
    height: auto;
}

.dv-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 250px 100px;


}

.scroll {

    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #3271cf;

}

.dv-info .scroll {
    margin: 0;
}

.dv-info div {
    margin: 50px;
}


.busca-intercambio {
    display: flex;
    align-items: center;
    width: 45%;
}

.busca-intercambio input {
    width: 90%;
}

.contenedor-intercambio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;

}
.contenedor-intercambio h1, .contenedor-intercambio h2{
    color: #f2f1f3;
    margin-bottom: 40px;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
}

.intercambio-fila {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.intercambio-fila li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja img {
    width: 250px;
    height: 250px;
}

.intercambio-fila p,
#gameplay p {
    text-align: center;
    margin-top: 10px;
}

p {
    color: white;
}

#informacion {
    padding: 20px;
    background-color: #7332db;
    border: 1px solid #ccc;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 300px;
}


/* mq*/

@media (max-width: 1183px) {
    iframe {
        width: 100%;
        height: 300px;
    }

    .dv-info div {
        margin: 20px;
    }
    .navbar-brand{
        width: 10% !important;
    }
    /*Juegos*/
    .imagenes-fila , .lista-generos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        text-align: center;
       
    }
    .imagenes-fila .boton{
        font-size: 18px;
        font-weight:500;
    }
    .titulo-juegos{
        font-size: 45px;
    }
    .subtitulo {
    font-size: 25px;
    }
    .lista-generos h3{
        font-size: 20px;
        color: antiquewhite;
    }
}

@media (max-width: 834px) {
    .logoenbt-perfil {
        height: 150px;
    }

    .contenedor-sesion h1 {
        font-size: 40px;
    }

    .imagenesFila {
        padding: 30px;
        grid-template-columns: repeat(2, 1fr);

    }

    #accesorios {
        grid-column: 1 / -1;
        /* ocupa toda la fila */
        justify-self: center;
    }

    .imagenesFila li {
        margin-top: 38px;
        margin-bottom: 38px;
    }

    .imagenesFila img {
        width: 100px;
        height: 100px;
        border-radius: 40px;
    }

    .header-in {
        justify-content: center;
    }

    .caja img {
        height: 150px;
        width: 150px;
    }

    .dv-info {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 50px;
    }

    .dv-info div {
        width: 80%;
        margin: 30px;
    }

    #informacion {
        font-size: 13px;
    }


    .contenedorFooter h3 {
        font-size: 20px;
    }

    .contenedorFooter a {
        font-size: 13px;
    }
    /* gral*/
    .header-in{
        flex-wrap: wrap;
    }
    .busca-intercambio {
        width: 100%;
    }
}

@media (max-width: 580px) {

    .logoenbt-perfil {

        max-width: 100%;
    }
/* Peril */
    .contenedor-sesion h1 {
        font-size: 30px;
    }

    .contenedor-inicio h2 {
        font-size: 30px;
    }

    .contenedor-sesion {
        box-sizing: border-box;
        padding: 30px;
    }

    /* intercambio*/

    .imagenesFila li {
        margin-top: 45px;
        margin-bottom: 45px;

    }

    .dv-info {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .dv-info div {
        margin: 30px;
    }

    #informacion {
        font-size: 13px;
        margin: 40px;
    }


    .intercambio-fila {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    /*Juegos*/
    .imagenes-fila , .lista-generos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        padding: 15px !important;
        margin: 15px;
    }
    .imagenes-fila img{
        width: 130px;
        height: auto;
    }
    .imagenes-fila .boton{
        font-size: 12px;
        font-weight: bold;
    }
    .titulo-juegos{
        font-size: 40px;
    }
    .subtitulo {
    font-size: 20px;
    }
    .lista-generos h3{
        font-size: 15px;
        color: antiquewhite;
    }
    /*carrito*/
    .titulo-compra h2{
        font-size: 18px;
    }
    .col2-fil2{
        display: none;
    }
    .col2-fil3 {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
        z-index: 1000;
      }
    .col2-fil3 p{
        display: block;
    }
    .contenedor-compra {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .contenedor-detalle,.reemplazo{
       grid-template-columns: 1fr;
    }
    .detalle-precio{
        display: none;
    }
    .plan{
        text-align: left;
    }
    .reemplazo form,.join-pro{
        flex-direction: column;
    }
    .logo-pro img {
        width: 250px;
        height: 150px;
        margin: 1em 2em;
    }
    .join-pro .boton{
        padding: 5px 15px;
    }
    .contenedorFooter-carrito{
        grid-template-columns: repeat(2, 1fr)!important;
        grid-template-rows: repeat(3, 1fr)!important;
    }
/*General*/
    .contenedorFooter {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

}